/*header*/
.wrapper{width:1170px; height:100%; margin: 0 auto; text-align: center;}

body{height:100%; margin: 0; padding: 0;}
p{
    background-color: #E6E6E6;
    margin: auto auto;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;    
    text-align: center;
}
.header{
    height: 89px;
    width: 100%;
    background-color: white; 
    border-bottom: 1px solid #848484; 
    position: fixed;
    top:0; left:0; right:0;
    text-align: center;
    z-index: 300;
}
.header h1{
    color: black;
    line-height: 35px;
    float: left;
    padding-left: 200px;
}
.menu{float:right; padding-right: 200px;}
.menu li{list-style: none; float:left;}
.menu a{
    line-height: 35px; 
    color: black; 
    padding: 0 15px;
    display: block;
    text-decoration: none;
}

.mainContent{
    padding-top: 110px; padding-right: 130px; padding-left: 130px;
    height: 400px;
}

.mainContent img{
    width: 500px; height: 300px;
    display: block;
    padding-left: 70px; 
    float: left; 
}

.shirt1{
    float: left;
    padding-top: 120px; padding-left: 200px;
    width: 700px;
    height: 0;
}
.newArriv h4{
    margin: 0;
}

.card-columns{
    column-count: 4;
}

.card
{
    width: 350px; height: 300px;
    float: left;
}

.newArriv .more{
    text-decoration: none;
    text-align: right; padding-right: 150px;
    display: block;
}
.saleOffer .more{
    text-decoration: none;
    text-align: right; padding-right: 150px;
    display: block;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 800px;
  position: relative;
  display: block;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}