body {
    margin: 0 auto;
    width: 500px;
    height: auto;
    margin-top: 150px;
    background-color: #191007;
    border: 2px solid white;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.result{
    width: 50%;
    background-color: #F7F2E0;
    color: black;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 30px;
}
ol{
    list-style-type:none;
}
li{
    font-size:20px;
}
a{
    text-decoration: none !important;
    color: white;
}
#list{
    width: 500px;
    height: 50px;
    outline: 1px dotted white;
}

#list li{
    float: left;
    width: 10%;
    height: 100%;
    line-height: 50px;
    text-align: center;    
}

.mainBtn{
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;   
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.mainBtn:hover{
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.mainBtn_Home{
    margin-left: 150px;
}